---
import Csharp from "../components/icons/Csharp.astro";
import Css from "../components/icons/Css.astro";
import Devexpress from "../components/icons/Devexpress.astro";
import Docker from "../components/icons/Docker.astro";
import Electron from "../components/icons/Electron.astro";
import Figma from "../components/icons/Figma.astro";
import Git from "../components/icons/Git.astro";
import Github from "../components/icons/Github.astro";
import Gmail from "../components/icons/Gmail.astro";
import Html from "../components/icons/Html.astro";
import Js from "../components/icons/Js.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Mysql from "../components/icons/Mysql.astro";
import Nodejs from "../components/icons/Nodejs.astro";
import Play from "../components/icons/Play.astro";
import Playwright from "../components/icons/Playwright.astro";
import Postgresql from "../components/icons/Postgresql.astro";
import Python from "../components/icons/Python.astro";
import React from "../components/icons/React.astro";
import Sqlserver from "../components/icons/Sqlserver.astro";
import Tailwind from "../components/icons/Tailwind.astro";
import Typescript from "../components/icons/Typescript.astro";
import Unity from "../components/icons/Unity.astro";
import Layout from "../layouts/Layout.astro";

const descriptions = [
  "Desarrollo de funcionalidades front-end",
  "Mantenimiento de base de datos",
  "Revisión de código",
];
---

<Layout>
  <main class="space-y-20">
    <section id="presentation" class="w-full">
      <div
        class="w-full flex justify-between md:justify-center items-center md:gap-x-150"
      >
        <div class="flex flex-col font-semibold justify-center items-center">
          <h1 class="md:text-5xl text-1xl">
            Hola
            <span class="text-[#1DFF52]">,</span> soy
          </h1>
          <h1 class="text-2xl md:text-7xl text-[#1DFF52]">Eric Villeda</h1>
        </div>

        <p class="text-1xl md:text-3xl">
          lic. Ing. <span class="text-[#1DFF52]">Software</span>
        </p>
      </div>

      <div class="w-full md:flex md:justify-between">
        <div
          class="w-full flex justify-center items-center md:space-x-2 space-x-1 pt-2 pb-2 md:p-0"
        >
          <p class="font-bold md:text-7xl text-1xl text-[#1DFF52]">1</p>
          <div
            class="md:text-4xl text-1xl md:flex-col flex space-x-1 md:space-x-0"
          >
            <p>AÑO DE</p>
            <p>EXPERIENCIA</p>
          </div>
        </div>

        <div class="w-full flex justify-center relative">
          <div
            class="absolute z-0 w-64 h-64 bg-[#1DFF52] rounded-full opacity-100 blur-[150px] top-30"
          >
          </div>
          <img
            src="/imgVector.webp"
            alt="imagenVector"
            class="absolute z-1 md:w-full w-[10rem] md:bottom-2"
          />
          <img
            src="/imgEric.webp"
            alt="imagenEric"
            class="z-2 md:w-full w-[10rem]"
          />
        </div>

        <div
          class="w-full flex md:flex-col justify-center md:items-center md:space-y-4 space-x-5 md:space-x-0 pt-2 md:pt-0"
        >
          <div class="flex space-x-5">
            <a href="" class="flex justify-center items-center relative">
              <div class="btns md:w-[70px] w-[40px] md:h-[70px] h-[40px]"></div>
              <span class="absolute md:w-9 w-5"><Linkedin /></span>
            </a>
            <a href="" class="flex justify-center items-center">
              <div class="btns md:w-[70px] w-[40px] md:h-[70px] h-[40px]"></div>
              <span class="absolute md:w-9 w-5"><Github /></span>
            </a>
          </div>
          <a href="" class="flex justify-center items-center">
            <div class="btns md:w-[70px] w-[40px] md:h-[70px] h-[40px]"></div>
            <span class="absolute md:w-9 w-5"><Gmail /></span>
          </a>
        </div>
      </div>
    </section>

    <section id="aboutme" class="w-auto text-center md:text-3xl">
      <p>
        Hola, yo soy <span class="text-[#1DFF52]">Eric</span>, profesional y
        egresado de la Licenciatura en Ingeniería de
        <span class="hidden md:inline"><br /></span>
        <span class="text-[#1DFF52]">Software</span>, cuento con capacidad para
        el trabajo en
        <span class="text-[#1DFF52]">equipo</span>, tengo un enfoque
        <span class="hidden md:inline"><br /></span>
        <span class="text-[#1DFF52]">creativo</span> para la resolución de problemas
        y habilidad para
        <span class="text-[#1DFF52]">gestionar</span> tareas <span
          class="text-[#1DFF52]">bajo</span
        >
        <span class="hidden md:inline"><br /></span>
        <span class="text-[#1DFF52]">presión</span>.
      </p>
    </section>

    <section id="xp" class="w-full md:space-y-20 space-y-5">
      <div
        class="w-full md:text-5xl text-2xl relative text-center flex justify-center items-center"
      >
        <img src="./imgTxtXP.webp" alt="imgTxtXP" class="absolute z-0" />
        <p class="z-1">
          ¿<span class="text-[#1DFF52]">Experiencia</span>?
        </p>
      </div>

      <div
        class="w-full md:h-105 h-40 relative flex justify-center items-center"
      >
        <img src="./imgIDBadge.webp" alt="imgIDBadge" class="absolute z-0" />
        <a
          href=""
          class="md:flex justify-center items-center absolute bottom-8 right-97 hidden"
        >
          <div class="btns md:w-[184px] md:h-[46px]"></div>
          <p class="absolute text-[10px] md:text-2xl">Contactar</p>
        </a>
      </div>

      <div
        class="w-full md:flex justify-center items-start md:space-x-10 space-y-5"
      >
        <div class="md:w-80 flex flex-col items-center space-y-2">
          <img
            src="./imgQrofive.webp"
            alt="imgCompany"
            class="md:w-50 h-30 md:h-auto"
          />
          <p class="md:text-3xl font-semibold">QROFIVE</p>
          <div class="flex space-x-3">
            <img
              src="./imgCalendarW1S.webp"
              alt="dateStart"
              class="md:w-20 w-10"
            />
            <img
              src="./imgCalendarW1E.webp"
              alt="dateStart"
              class="md:w-20 w-10"
            />
          </div>
        </div>
        <div
          class="md:w-200 flex flex-col items-center md:items-start w-full text-center md:text-start"
        >
          <div
            class="bg-[#1DFF52] text-[#000] md:w-150 w-50 p-2 md:rounded-r-[20px] rounded-[10px] md:text-3xl font-semibold"
          >
            <p>Desarrollo Web (5SMART)</p>
          </div>
          <ul
            class="list-disc list-inside pl-3 md:pl-10 md:pt-5 pt-3 md:space-y-3 md:text-2xl text-[10px] text-start"
          >
            <li>
              Diseño y desarrollo de módulos web e interfaces dinámicas con
              <span class="text-[#1DFF52]">C#</span>,
              <span class="text-[#1DFF52]">.Net</span> y
              <br class="hidden md:block" />
              <span class="text-[#1DFF52]">JavaScript</span>, aplicando el
              patrón
              <span class="text-[#1DFF52]">Modelo-Vista-Controlador</span> (MVC)
              y
              <br class="hidden md:block" />
              utilizando <span class="text-[#1DFF52]">DevExpress</span>.
            </li>
            <li>
              Gestión y optimización de bases de datos en
              <span class="text-[#1DFF52]">SQL Server</span>, implementando
              <br class="hidden md:block" />
              operaciones CRUD y estableciendo conexiones eficientes con las interfaces
              <br class="hidden md:block" />
              de los módulos.
            </li>
            <li>
              Implementación de control de versiones con
              <span class="text-[#1DFF52]">Git</span> y trabajo colaborativo en
              <br class="hidden md:block" />
              entornos ágiles.
            </li>
          </ul>
        </div>
      </div>

      <div
        class="w-full md:flex justify-center items-start md:space-x-10 space-y-5"
      >
        <div class="md:w-80 flex flex-col items-center space-y-2 text-center">
          <img
            src="./imgLM.webp"
            alt="imgCompany"
            class="md:w-50 h-30 md:h-auto"
          />
          <p class="md:text-3xl font-semibold">
            Servicio Automotriz <br />"Don Fer"
          </p>
          <div class="flex space-x-3">
            <img
              src="./imgCalendarW2S.webp"
              alt="dateStart"
              class="md:w-20 w-10"
            />
            <img
              src="./imgCalendarW2E.webp"
              alt="dateStart"
              class="md:w-20 w-10"
            />
          </div>
        </div>
        <div
          class="md:w-200 flex flex-col items-center md:items-start w-full text-center md:text-start"
        >
          <div
            class="bg-[#1DFF52] text-[#000] md:w-150 w-50 p-2 md:rounded-r-[20px] rounded-[10px] md:text-3xl text-1xl font-semibold"
          >
            <p>Desarrollo Web Freelancer</p>
          </div>
          <ul
            class="list-disc list-inside pl-3 md:pl-10 md:pt-5 pt-3 md:space-y-3 md:text-2xl text-[10px] text-start"
          >
            <li>
              Diseño colaborativo del sitio web mediante prototipos en
              <span class="text-[#1DFF52]">Figma</span>.
            </li>
            <li>
              Desarrollo full-stack con
              <span class="text-[#1DFF52]">Tailwind</span>,
              <span class="text-[#1DFF52]">TypeScript</span>,
              <span class="text-[#1DFF52]">React</span> (Front-end),
              <span class="text-[#1DFF52]">Node.js</span>
              <br class="hidden md:block" />
              y <span class="text-[#1DFF52]">Express</span> (Back-end), incluyendo
              pruebas unitarias con
              <span class="text-[#1DFF52]">Playwright</span>.
            </li>
            <li>
              Gestión de bases de datos en
              <span class="text-[#1DFF52]">PostgreSQL</span> y configuración de entornos
              de prueba
              <br class="hidden md:block" />
              con <span class="text-[#1DFF52]">Docker</span>.
            </li>
            <li>
              Despliegue y administración del sitio web en un servidor
              <span class="text-[#1DFF52]">Linux</span> de
              <br class="hidden md:block" />
              <span class="text-[#1DFF52]">DigitalOcean</span>.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="stacktec" class="w-full space-y-10">
      <div
        class="w-full md:text-5xl text-2xl relative text-center flex justify-center items-center"
      >
        <img
          src="./imgTxtStackTec.webp"
          alt="imgTxtStackTec"
          class="absolute z-0"
        />
        <p class="z-1">
          Mi <span class="text-[#1DFF52]">stack</span> tecnológico incluye:
        </p>
      </div>

      <div
        class="w-full h-auto px-5 flex flex-wrap justify-center md:gap-5 gap-3"
      >
        <div
          class="w-auto md:min-h-45 h-auto bg-[#111] rounded-3xl text-start md:px-10 px-5 md:py-4 py-2 space-y-5"
        >
          <p class="text-[#1DFF52]">Front-End</p>
          <div
            class="w-auto flex flex-wrap md:justify-start justify-center items-end gap-3"
          >
            <div class="flex flex-col justify-center items-center w-auto">
              <Html class="md:w-13 w-5" />
              <p>HTML</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Css class="md:w-13 w-5" />
              <p>CSS</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Js class="md:w-13 w-5" />
              <p>JavaScript</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Typescript class="md:w-13 w-5" />
              <p>TypeScript</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <React class="md:w-13 w-5" />
              <p>ReactJS</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Electron class="md:w-13 w-5" />
              <p>Electron</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Tailwind class="md:w-13 w-5" />
              <p>Tailwind</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Devexpress class="md:w-13 w-5" />
              <p>DevExpress</p>
            </div>
          </div>
        </div>

        <div
          class="w-auto md:min-h-45 bg-[#111] rounded-3xl text-start md:px-10 px-5 md:py-4 py-2 space-y-5"
        >
          <p class="text-[#1DFF52]">Back-End</p>
          <div
            class="w-auto flex flex-wrap gap-7 md:justify-start justify-center items-end"
          >
            <div
              class="flex flex-col justify-center items-center w-auto text-center"
            >
              <Nodejs class="md:w-13 w-5" />
              <p>NodeJS</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Csharp class="md:w-13 w-5" />
              <p>CSharp</p>
            </div>
          </div>
        </div>

        <div
          class="w-auto md:min-h-45 bg-[#111] rounded-3xl text-start md:px-10 px-5 md:py-4 py-2 space-y-5"
        >
          <p class="text-[#1DFF52]">Bases de Datos</p>
          <div
            class="w-auto flex flex-wrap md:justify-start justify-center items-end gap-3"
          >
            <div class="flex flex-col items-center text-center w-auto">
              <Mysql class="md:w-13 w-5" />
              <p>MySQL</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Sqlserver class="md:w-13 w-5" />
              <p>SQL Server</p>
            </div>
            <div class="flex flex-col justify-center items-center w-auto">
              <Postgresql class="md:w-13 w-5" />
              <p>PostgreSQL</p>
            </div>
          </div>
        </div>

        <div
          class="w-auto md:min-h-45 bg-[#111] rounded-3xl text-start md:px-10 px-5 md:py-4 py-2 space-y-5"
        >
          <p class="text-[#1DFF52]">Test</p>
          <div
            class="w-auto flex flex-wrap md:justify-start justify-center items-end gap-3"
          >
            <div class="flex flex-col items-center text-center w-auto">
              <Playwright class="md:w-13 w-5" />
              <p>Playwright</p>
            </div>
          </div>
        </div>

        <div
          class="w-auto md:min-h-45 bg-[#111] rounded-3xl text-start md:px-10 px-5 md:py-4 py-2 space-y-5"
        >
          <p class="text-[#1DFF52]">Herramientas</p>
          <div
            class="w-auto flex flex-wrap md:justify-start justify-center items-end gap-3"
          >
            <div class="flex flex-col items-center w-auto text-center">
              <Git class="md:w-13 w-5" />
              <p>Git</p>
            </div>
            <div class="flex flex-col items-center w-auto text-center">
              <Unity class="md:w-13 w-5" />
              <p>Unity</p>
            </div>
            <div class="flex flex-col items-center w-auto text-center">
              <Figma class="md:w-13 w-5" />
              <p>Figma</p>
            </div>
          </div>
        </div>

        <div
          class="w-auto md:min-h-45 bg-[#111] rounded-3xl text-start md:px-10 px-5 md:py-4 py-2 space-y-5"
        >
          <p class="text-[#1DFF52]">Aprendiendo</p>
          <div
            class="w-auto flex flex-wrap md:justify-start justify-center items-end gap-3"
          >
            <div class="flex flex-col items-center w-auto text-center">
              <Python class="md:w-13 w-5" />
              <p>Python</p>
            </div>
            <div class="flex flex-col items-center w-auto text-center">
              <Docker class="md:w-13 w-5" />
              <p>Docker</p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex flex-wrap justify-center items-center gap-5">
        <span
          class="bg-green-100 text-[#1DFF52] md:text-2xl font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-[#1DFF52] border border-[#1DFF52]"
          >Desarrollo Web</span
        >
        <span
          class="bg-green-100 text-[#1DFF52] md:text-2xl font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-[#1DFF52] border border-[#1DFF52]"
          >Gestión de Bases de Datos</span
        >
        <span
          class="bg-green-100 text-[#1DFF52] md:text-2xl font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-[#1DFF52] border border-[#1DFF52]"
          >Trabajo colaborativo</span
        >
        <span
          class="bg-green-100 text-[#1DFF52] md:text-2xl font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-[#1DFF52] border border-[#1DFF52]"
          >Prototipado</span
        >
        <span
          class="bg-green-100 text-[#1DFF52] md:text-2xl font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-[#1DFF52] border border-[#1DFF52]"
          >Adaptabilidad</span
        >
        <span
          class="bg-green-100 text-[#1DFF52] md:text-2xl font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-[#1DFF52] border border-[#1DFF52]"
          >Creatividad</span
        >
        <span
          class="bg-green-100 text-[#1DFF52] md:text-2xl font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-[#1DFF52] border border-[#1DFF52]"
          >Proactividad</span
        >
        <span
          class="bg-green-100 text-[#1DFF52] md:text-2xl font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-[#1DFF52] border border-[#1DFF52]"
          >Autodidacta</span
        >
      </div>
    </section>

    <section id="projects" class="w-full md:space-y-20 space-y-5">
      <div
        class="w-full md:text-5xl text-2xl relative text-center flex justify-center items-center"
      >
        <img
          src="./imgTxtProjects.webp"
          alt="imgTxtProjects"
          class="absolute z-0"
        />
        <p class="z-1">
          Mis <span class="text-[#1DFF52]">Proyectos</span>
        </p>
      </div>

      <div class="w-full flex flex-wrap gap-9 justify-center">
        <div
          class="md:w-100 w-70 bg-[#111] p-5 rounded-4xl space-y-3 border-l-1 border-t-1 border-[#fff]"
        >
          <img
            src=""
            alt="imgProjectGA"
            class="w-full md:h-[300px] h-[150px] rounded-2xl bg-[#1d1d1d]"
          />
          <div class="w-full flex justify-between items-center md:text-2xl">
            <p class="font-semibold">Gestión automotriz</p>
            <a href="" class="flex justify-center items-center relative">
              <div class="btns md:w-[50px] w-[30px] md:h-[50px] h-[30px]"></div>
              <span class="absolute md:w-7 w-5"><Play /></span>
            </a>
          </div>
          <div class="w-full">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >TypeScript</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >Tailwind</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >React</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >PostgreSQL</span
            >
          </div>
          <p class="font-normal">
            Lorem Ipsum is simply dummy text of the prinIpsum passages, and more
            recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.
          </p>
        </div>

        <div
          class="md:w-100 w-70 bg-[#111] p-5 rounded-4xl space-y-3 border-l-1 border-t-1 border-[#fff]"
        >
          <img
            src=""
            alt="imgProjectGA"
            class="w-full md:h-[300px] h-[150px] rounded-2xl bg-[#1d1d1d]"
          />
          <div class="w-full flex justify-between items-center md:text-2xl">
            <p class="font-semibold">Linkify</p>
            <a href="" class="flex justify-center items-center relative">
              <div class="btns md:w-[50px] w-[30px] md:h-[50px] h-[30px]"></div>
              <span class="absolute md:w-7 w-5"><Play /></span>
            </a>
          </div>
          <div class="w-full">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >Electron</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >JavaScript</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >Tailwind</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >MySQL</span
            >
          </div>
          <p class="font-normal">
            Lorem Ipsum is simply dummy text of the prinIpsum passages, and more
            recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.
          </p>
        </div>

        <div
          class="md:w-100 w-70 bg-[#111] p-5 rounded-4xl space-y-3 border-l-1 border-t-1 border-[#fff]"
        >
          <img
            src=""
            alt="imgProjectGA"
            class="w-full md:h-[300px] h-[150px] rounded-2xl bg-[#1d1d1d]"
          />
          <div class="w-full flex justify-between items-center md:text-2xl">
            <p class="font-semibold">Courier</p>
            <a href="" class="flex justify-center items-center relative">
              <div class="btns md:w-[50px] w-[30px] md:h-[50px] h-[30px]"></div>
              <span class="absolute md:w-7 w-5"><Play /></span>
            </a>
          </div>
          <div class="w-full">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >PHP</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >JavaScript</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >CSS</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >MySQL</span
            >
          </div>
          <p class="font-normal">
            Lorem Ipsum is simply dummy text of the prinIpsum passages, and more
            recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.
          </p>
        </div>

        <div
          class="md:w-100 w-70 bg-[#111] p-5 rounded-4xl space-y-3 border-l-1 border-t-1 border-[#fff]"
        >
          <img
            src=""
            alt="imgProjectGA"
            class="w-full md:h-[300px] h-[150px] rounded-2xl bg-[#1d1d1d]"
          />
          <div class="w-full flex justify-between items-center md:text-2xl">
            <p class="font-semibold">Punto de Venta</p>
            <a href="" class="flex justify-center items-center relative">
              <div class="btns md:w-[50px] w-[30px] md:h-[50px] h-[30px]"></div>
              <span class="absolute md:w-7 w-5"><Play /></span>
            </a>
          </div>
          <div class="w-full">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >C#</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >.Net</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >WPF</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >SQL Server</span
            >
          </div>
          <p class="font-normal">
            Lorem Ipsum is simply dummy text of the prinIpsum passages, and more
            recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.
          </p>
        </div>

        <div
          class="md:w-100 w-70 bg-[#111] p-5 rounded-4xl space-y-3 border-l-1 border-t-1 border-[#fff]"
        >
          <img
            src=""
            alt="imgProjectGA"
            class="w-full md:h-[300px] h-[150px] rounded-2xl bg-[#1d1d1d]"
          />
          <div class="w-full flex justify-between items-center md:text-2xl">
            <p class="font-semibold">Manzania</p>
            <a href="" class="flex justify-center items-center relative">
              <div class="btns md:w-[50px] w-[30px] md:h-[50px] h-[30px]"></div>
              <span class="absolute md:w-7 w-5"><Play /></span>
            </a>
          </div>
          <div class="w-full">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >Unity</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >C#</span
            >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >Blender</span
            >
          </div>
          <p class="font-normal">
            Lorem Ipsum is simply dummy text of the prinIpsum passages, and more
            recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
